header {
    display: flex;
    justify-content: space-between;

}
/* header a {
    margin: 0 px 0 0;    
    align-self: flex-end; 
    text-decoration: none;
    color: #FEFAE0;
    padding: 5px 40px 0 40px;
    background-color: #5c5f40;
    border-radius: 10px 10px 0 0;

} */

.add-link {
    display: flex;
    padding: 15px;
    background-color: #FEFAE0;
    border-radius: 5px;
    text-decoration: none;
    color: #283618;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

/* .add-link {
    display: flex;  
    justify-content: flex-end;
    text-decoration: none;
    color: #FEFAE0;
} */

.add-link:hover {
    /* border-radius: 15px; */
    background-color: #aba78e;
}

.article_container {
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
    align-items: center;


}

.back_article {
    background-color: #505238;
    width: 80%;
    border-radius: 10px;
}

.article_title {
    text-decoration: none;
    color: #283618;
    background-color: #FEFAE0;
    /* width: 100%; */
    height: 18.5px;
    display: block;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;


}

.article_title:hover {
    background-color: #aba78e;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    margin-right: 10px;
}

.edit-link {
    padding: 20px;
    background-color: #FEFAE0;
    border-radius: 5px;
    text-decoration: none;
    color: #283618;
    transition: 0.2s ease-in-out;

}

.edit-link:hover {
    background-color: #aba78e;
}

.delete-link {
    padding: 20px;
    background-color: #FEFAE0;
    border-radius: 5px;
    text-decoration: none;
    color: #283618;
    transition: 0.2s ease-in-out;

}

.delete-link:hover {
    background-color: #aba78e;
}

/* .article_container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #283618;

    margin: 17px 0;


}

.article_title {
    display: flex;
    justify-content: space-between;
    background-color: #505238;
    border-radius: 10px;
}

.article_title {
    margin-right: auto;

}

.article_title a {
    text-decoration: none;
    color: #283618;

    margin-right: 10px;
    display:block;
    width: 100%;

    background-color: #FEFAE0;
    padding: 20px;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.2s ease-in-out;

}

.article_title a:hover {
    background-color: #aba78e;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    margin-right: 10px;
} */



/* .article_container {
    display: flex;
    justify-content: space-between;
    background-color: #FEFAE0; */

    /* background-color: #283618; */
    /* background-color: #080F0F; */
    /* color: #283618;

    padding: 20px;
    margin: 17px 0;
    border-radius: 10px;
} */

/* .links b {
    margin-left: auto;
} */



/* .links { */
    /* display: flex;
    justify-content: space-around;
    background-color: red; */
    /* padding: 0 30px; */

/* } */
/* .links {
    display: flex;
    justify-content: space-around;

}
.links a {
    background-color: #FEFAE0;
    border-radius: 5px;
    margin-left: auto;
    text-decoration: none;
    color: #283618;
}

.edit-link {
    padding: 20px 30px;
    margin-right: 10px;
}

.delete-link {
    padding: 20px;
}

.back_article {
    background-color: #505238;
    border-radius: 10px;

} */