body {
    margin: 20px;
    background-color: #e5e0bf;
    font-family: Arial, sans-serif;
    color: #FEFAE0;
    
}

.main_card {
    padding: 20px;
    /* background-color: #606C38; */
    /* background-color: #9baa6f; */
    background-color: #9da180;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.articles_card {
    padding: 20px;
    /* background-color: #283618; */
    background-color: #5c5f40;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px 1px rgb(255, 0, 0); */

    box-shadow: 0 2px 4px 1px rgb(0, 0, 0);
}