<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="{{ url_for('static', path='/js/authentication.js') }}"></script> -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/admin.css') }}" rel="stylesheet">
    <title>Admin panel</title>
</head>
    
<body>
    <div class="main_card">
    <header>
        <h1>Personal Blog</h1>
    </header>
    
    <main>
        <div class="articles_card">
            <a class="add-link" href="/new">+ Add</a>
            {% for article in articles %}
            <div class="article_container">
              <span class="back_article">
                <a class="article_title" href="/article/{{ article.id }}"><b class="title">{{ article.title.title() }}</b></a>
              </span>
                <a class="edit-link" href="/edit/{{ article.id }}">Edit</a>
                <a class="delete-link" href="/delete/{{ article.id }}" data-article-id="{{ article.id }}">Delete</a>
            </div>
            {% endfor %} 
        </div>
    </main>
    </div>
    <script src="{{ url_for('static', path='/js/deleteArticle.js') }}"></script>
</body>
</html>