<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/admin2.css') }}" rel="stylesheet">
    <title>Admin panel</title>
</head>
    
<body>
    <div class="main_card">
    <header>
        <h1>Personal Blog</h1>
        <a href="/new">+ Add</a>
    </header>
    
    <main>
        <div class="articles_card">
            {% for article in articles %}
            <div class="article_container">
                <b>{{ article.title.title() }}</b>
                
                <div class="links">
                    <a href="/edit/{{ article.id }}">Edit</a>
                    <a href="/delete/{{ article.id }}" class="delete-link" data-article-id="{{ article.id }}">Delete</a>
                </div>
            </div>
            {% endfor %} 
        </div>
    </main>
    </div>
    <script src="{{ url_for('static', path='/js/deleteArticle.js') }}"></script>
</body>
</html>