<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/home.css') }}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="main_card">
    <header>
        <h1>Personal Blog</h1>
    </header>
    <main>
        <div class="articles_card">
            {% for article in articles %}
            <div class="back_article">
                <a href="/article/{{ article.id }}">
                    <div class="link_container">
                        <b>{{ article.title.title() }}</b>
                        <span>{{ datetime.strptime(article.created_at, "%Y-%m-%d %H:%M:%S.%f")
                            .strftime("%B %-d, %Y") 
                        }}</span>
                    </div>
                    
                </a> 
            </div>
            {% endfor %} 
        </div>
        <!-- <img src="{{ url_for('static', path='/img/ABSOLUTE2.gif') }}" alt="Image description"> -->
    </main>
    </div>
</body>
</html>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prsonal blog</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/new">New</a></li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html> -->