<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Personal Blog</h1>
    {% for article in articles %}
        <div>
            <p>
                <a href="/article/{{ article.id }}">
                    <b>{{ article.title }}</b>
                </a> {{ article.created_at }}
            </p>
        </div>
    {% endfor %}
</body>
</html>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prsonal blog</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/new">New</a></li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html> -->