<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        <div class="mb-3">
          <label>Username</label>
          <input type="text" required placeholder="Enter your username" name="username" value="{{username}}" class="form-control">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" required placeholder="Enter your password" value="{{password}}" name="password" class="form-control">
        </div>
        <button type="submit">Submit</button>
      </form>
</body>
</html>