<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/login.css') }}" rel="stylesheet">
    <title>Login</title>
</head>
<body>
  <div class="main_login_card">
      <form method="POST" class="form_card" id="login-form">
          <div class="mb-3">
            <label>Username</label>
            <input type="text" required placeholder="Enter your username" name="username" value="{{username}}" class="form-control">
          </div>
          <div class="mb-3">
            <label>Password</label>
            <input type="password" required placeholder="Enter your password" value="{{password}}" name="password" class="form-control">
          </div>
          <div class="btn-container">
            <button class="btn-sign" type="submit" onclick="setAccessToken('{{ token }}')"><b>Sign in</b></button>
          </div>
      </form>
  </div>
  <script>
    const [password, setPassword] = useState('');
    const [errorMessage, setErrorMessage] = useState('');
    const [, setToken] = useState('');


    const submitLogin = async () => {
      const requestOptions = {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: JSON.stringify('grant_type=password&username={{ username }}&password={{ password }}&scope=&client_id=string&client_secret=string')
      }
    };

    const response = await fetch('/login', requestOptions);
    const data = await response.json();

    if (!response.ok) {
      setErrorMessage(data.detail);
    } else {
      setToken(data.access_token);
    }

    const handleSubmit = (event) => {
      event.preventDefault();
      submitLogin();
    };
    <!-- const form = document.getElementById('login-form');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const response = await fetch('/login', {
        method: 'GET',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams(Object.fromEntries(new FormData(form))).toString()
      });
      const token = await response.json();
      localStorage.setItem('access_token', token.access_token);
      localStorage.setItem('token_type', token.token_type);
    }); -->
  </script>
</body>
</html>